h1{
 color: green;
 background-color: cornsilk;
}

body{
    background-color: darkorchid;
    text-align: center;
}

#showButton{
    float: right;
    margin: 2px;
}

p{
    font-size: 20px;
}



Canvas{
    border: 5px solid white;
    border-radius: 20px;
    animation-name: test;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    margin-top: 40px;
}

@keyframes test{
    from{box-shadow: 1px 1px 30px gray;}
    to{box-shadow: 1px 1px 30px white;}
}
